/*  Color reference chart:
  0: #ebedf0
  1: #c6e48b -> #9be9a8
  2: #7bc96f -> #40c463
  3: #239a3b -> #30a14e
  4: #196127 -> #216e39

  black: rgb(36, 41, 46);
  sub-heading grey: rgb(102, 102, 102);
  paragraph grey: rgb(88, 96, 105);;
*/

body {
  background-color: #fcfdfd;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
               sans-serif, Apple Color Emoji, Segoe UI Emoji;
  width: 98%;
}

a {
  color: #586069;
  text-decoration: none;
}

a:hover {
  color: #0366d6;
  text-decoration: underline;
}


.title {
  clear: both;
  background-color: #f6f8fa;
  outline: 1px solid #e1e4e8;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  color: rgb(36, 41, 46);
  text-align: center;
}

.title h1, .title h3 {
  display: inline;
  width: 70%;
  height: 100%;
  margin: auto;
  padding: 10px 0 10px 0;
  font-weight: normal;
}

.subheading p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(88, 96, 105);
}

.overlay .card p {
  color: rgb(68, 76, 85);
  margin: 5px 0 0 15px;
}

.overlay .card .small-caps {
  color: rgb(48, 56, 65);
  font-size: 14pt;
  font-variant: small-caps;
  margin-top: 15px;
}

div.submit {
  width: 100px;
  margin: 10px auto;
}

.payform {
  width: 500px;
  -moz-box-shadow:    0 5px 10px -6px #000;
  -webkit-box-shadow: 0 5px 10px -6px #000;
  box-shadow:         0 5px 10px -6px #000;
  padding-bottom: 10px;
}

.card {
  background: white;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin: 0 auto;
  overflow: auto;
}

div.wrapper {
  width: 900px;
}

#presets {
  width: 738px;
  height: 40px;
  margin: 0 auto;

  /* side-scrolling */
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;

  padding: 10px;
}

.preset {
  display: inline;
}

#git-grid-div {
  width: 738px;
  height: 88px;
  margin: 0 auto;
}

rect.day {
    shape-rendering: geometricPrecision;
    outline: 1px solid rgba(27,31,35,.04);
    outline-offset: -1px;
    rx: 2;
    ry: 2;
}

.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.footer {
  font-size: 10pt;
  text-align: center;
  color: rgb(98, 106, 115);
  opacity: 0.5;
}

button {
  border-bottom-color: rgba(27, 31, 35, 0.15);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(27, 31, 35, 0.15);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(27, 31, 35, 0.15);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(27, 31, 35, 0.15);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 1px;

  box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;

  font-size: 14px;
  font-weight: 500;

  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left: 8px;
  margin-right: 8px;
  overflow-wrap: break-word;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  position: relative;
  text-decoration: rgb(255, 255, 255);
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -moz-appearance: none;
}

.button:hover {
  background-color: #2c974b;
}

.shadow {
  -moz-box-shadow:    0 9px 6px -6px #ccc;
  -webkit-box-shadow: 0 9px 6px -6px #ccc;
  box-shadow:         0 9px 6px -6px #ccc;
}

.headlink-left {
  float: left;
  text-align: left;
  padding-left: 25px;
  margin: auto;
  width: 15%;
}

.headlink-right {
  float: right;
  text-align: right;
  padding-right: 25px;
  margin: auto;
  width: 15%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: top 0.4s ease-in-out;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: z-index 1.5s, opacity 0.2s ease-in-out;
}

.shown {
  opacity: 1;
  z-index: 1;
  transition: z-index 0s, opacity 0.2s ease-in-out;
}

div.tattoo {
  padding-top: 30px;
  padding-bottom: 20px;
}

div.center-content {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tattoo button, button.submit {
  margin: 10px 0 10px 0;
  background-color: #2ea44f;
}

input {
  ouline: none;
  border: none;
  font-size: 14px;
  color: #32325d;
}

input:focus {
  outline: none;
}

.form-line {
  display: flex;
  border: 1px solid #c6c9cc;
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
  height: 20px;
  line-height: 20px;
  transition: 0.2s ease-in-out;
}

.focused-form-line {
  border: 1px solid #4a4c4d;
}

.form-kind {
  color: rgb(68, 76, 85);
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #c6c9cc;
  width: 100px;
}

.form-input {
  margin-left: 10px;
  width: 100%;
}

::placeholder {
  color: #aab7c4
}

#presets button {
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27,31,35,.15);
  box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
  transition: background-color .2s cubic-bezier(.3,0,.5,1);
}

#presets button:hover {
  background-color: #f3f4f6;
  transition-duration: .1s;
}
